header {
    background-color: #EFEAD8;

    .titulo {
        background-color: #EFEAD8;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: end;
        padding-bottom: 10px;

        img {
            width: 20%;
        }

        h1 {
            font-family: 'Adamina', serif;
            font-size: 30px;
        }

        h2 {
            font-size: 10px;
            font-family: 'Adamina', serif;
        }
    }

    nav {
        background-color: $color-correo ;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 10px;
            padding: 5px 0;
            margin: 0;

            li {
                list-style-type: none;
                padding:10px 30%;
                border-radius: 10px;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: bolder;
                    padding: 10px;
                    color: black;
                    font-family: 'Adamina', serif;
                }
            }
        }
        .Active{
            background-color: $hover;
        }
    }

}