header {
    background-color: #EFEAD8;

    .titulo {
        background-color: #EFEAD8;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: end;
        padding-bottom: 10px;

        h1 {
            font-family: 'Adamina', serif;
            font-size: 50px;
        }

        h2 {
            font-size: 20px;
            font-family: 'Adamina', serif;
        }
    }
    nav{
        background-color:#D0C9C0;
        img{
            width: 40%;
        }
    }
}