.tienda {
    nav {
        background-color: #efead8bb;
        a{

            text-decoration: none;
            color: white;
            padding-left: 10px;
            margin-right: 10px;
        }
    }
    .filtro {
        background-color: #efead884;
        h5{
            margin: 0;
            font-size: 1em;
        }
    }

}